 .productContainer{
    background-color: rgb(89, 111, 129);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(89, 111, 129);
    margin-top: 80px;
    padding: 20px;
 }
 .productContainer a {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 0 1 40%; 
    margin-bottom: 20px; 
    background-color: #fff; 
    padding: 15px;
    color: rgb(89, 100, 109);; 
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    width: 100%;
}
 .productContainer a:hover{
    color: antiquewhite;
    background-color: rgb(23, 77, 125);
}
 .productContainer h2 {
    margin: 0;
    padding-bottom: 10px;
    
}
 .productContainer p {
    margin: 5px 0;
}
 .productContainer img {
    flex: 0 0 50px;
    width: auto;
    height: auto;
    margin-left: 20px;
    
}



@media (max-width: 768px) {
    .a {
        flex: 0 1 100%; 
        margin-left: 0;
        margin-top: 20px;
    }
}


