.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    color: antiquewhite;
    background-color: rgb(23, 77, 125);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding:0px 20px 0px 20px;
    margin:0px;
}

ul{
    display: none;
}

ul.show{
    display: flex;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 20px;
    margin: 20px;
}

li:hover {
    background-color: rgb(89, 111, 129);
    box-shadow: 0 4px 2px -2px antiquewhite;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: antiquewhite;
    cursor: pointer;
}

.search-bar {
    position: relative;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    max-width: 150px;
    align-items: center;
}

.search-bar input {
    width: 90%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon{
    margin-right: 8px;
}

details {
    position: relative;

}

details ul {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: rgb(23, 77, 125);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000; 

}

details[open] summary ~ ul {
    display: flex; 
    flex-direction: column;

}

details ul li {
    width: 100%;
    padding: 8px 12px; 
    margin: 5px 0;
}

details ul li a {
    color: antiquewhite;
    text-decoration: none;
}

details ul li:hover {
    background-color: rgb(89, 111, 129); 
}


@media (max-width: 768px) {
    .container{
        margin-bottom: 20px;
    }
    .nav-links ul {
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        background-color: rgb(23, 77, 125);
        display: none;
        z-index: 999;
        padding: auto;
    }

    .nav-links.open ul {
        display: flex;
    }

    .toggle {
        display: block;
    }

    h2 {
        font-size: 24px;
        padding-left: 5px;
    }

    li {
        padding: 15px 10px;
        text-align: center;
        width: 100%;
    }
}
