.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.count-row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.count-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #e7e7e7;
    transition: background-color 0.3s ease;
}

.count-button:hover {
    background-color: #ddd;
}
